<div>
  <h3>OVERVIEW</h3>
  
  <h4>data loaded via get</h4>
  <pre>{{overview | json}}</pre>
  
  <hr />
  <h5>params</h5>
  <pre>{{$stateParams | json}}</pre>
  <h5>state</h5>
  <pre>{{$state.current | json}}</pre>
  
</div>