<div>
    <h3>Players</h3>
    <br/>
    <table class="table table-hover">
        <tbody ng:repeat="player in playerList">
        <tr><td><a href="/dashboard/#/player/{{player.id}}">{{player.name}}</a></td></tr>
        </tbody>
    </table>
</div>