<div>
    <h3>Team</h3>
    <br/>
    <table class="table table-hover">
        <tbody ng:repeat="team in teamList">
            <tr>
                <td><img src="images/{{team.name}}.gif" alt="{{team.name}}"></td>
                <td><a href="/dashboard/#/team/{{team.id}}">{{team.name}}</a></td>
            </tr>
        </tbody>
    </table>
</div>